<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso vuejs</title>
</head>
<body>
    <div id="app">
        <!--<input type="text" v-model="enlace">
        <a :href="enlace" target="_blank">{{ enlace }}</a>-->

        <input v-model="ancho" type="range">Ancho
        <br>
        <input v-model="alto" type="range">Alto
        <br>
            {{ urlCompleta }}
        <br>
        <img :src="urlCompleta" alt="">
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./app.js"></script>
</body>
</html>